<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/index.css">

  <title>Stockio - Inicio</title>
</head>

<body>

  <!-- LOGO -->
  <img src="/stockio.png" alt="Logo Stockio">

  <!-- BOTONES -->
  <div class="botones">
    <a href="/login" class="btn">Iniciar sesión</a>
    <a href="/registro" class="btn">Registrar usuario</a>
  </div>

  <footer style="text-align: center; margin-top: 20px; color: #777;">
    <p>&copy; 2026 Stockio - Todos los derechos reservados.</p>
  </footer>
</body>

</html>