<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8" />
  <link rel="stylesheet" href="/panel.css">
  <title>Panel de administración</title>
</head>

<body>

  <header>
    <h1>Panel de Administración</h1>
  </header>

  <main>
    <h2>Bienvenido, Administrador</h2>
    <p>Selecciona una de las siguientes secciones:</p>

    <div class="panel">
      <div class="card">
        <h3>Gestión de Almacén</h3>
        <p>Consulta, añade y elimina productos del inventario.</p>
        <a href="/almacenes" class="button">Gestión de Almacenes</a>
        <br><br>
        <a href="/productos" class="button">Gestión de Productos</a>
      </div>

      <div class="card">
        <h3>Gestión de Usuarios</h3>
        <p>Registra nuevos usuarios y asigna roles.</p>
        <a href="/usuarios" class="button">Entrar a Usuarios</a>
      </div>
    </div>
  </main>

</body>

</html>